@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import './reset';

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  overflow: auto;
}
