@import './reset';

:root {
  font-family: 'Futura', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  --cl-black: #0a0a0a;
  --cl-red: #ff0739;
  --trans-time: 0.2s;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
  position: relative;
  color: var(--cl-black);
}
