@import './reset';

:root {
  font-family: 'Futura', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  --cl-red: #ff0739;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
  position: relative;
}
